numpy==1.23.2
openai==1.16.1
streamlit==1.31.1
pandas==2.2.1
pydub==0.25.1
playsound==1.3.0
elevenlabs==1.0.0b1
requests==2.31.0
opencv-python-headless==4.9.0.80
ffmpeg-python==0.2.0
ffprobe-python==0.5
